<div>
  <section>
      <img *ngIf="manga.im != null" mat-card-image src="{{imageUrlPrefix}}{{manga.im}}">
      <img *ngIf="manga.im == null" mat-card-image src="../../assets/images/not_found.png">
      <h2>{{manga.a}}</h2>
  </section>
  <section>
    <p *ngFor="let cat of manga.c">{{cat}}</p>
  </section>
</div>