.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.flex > section {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.flex > section > a > img {
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.flex > section > img {
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.flex > section > h2 {
    flex-grow: 1;
    color: darkgray;
}