<div class="flex"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [infiniteScrollDisabled]=false
  (scrolled)="onScroll()"
  [scrollWindow]="true">
  <section *ngFor="let item of itemsToShow">
    <a (click)="selectManga(item)" routerLink="/mangainfo"><img *ngIf="item.im != null" mat-card-image src="{{_imageUrlPrefix}}{{item.im}}"></a>
    <img *ngIf="item.im == null" mat-card-image src="../../assets/images/not_found.png">
    <h2>{{item.a}}</h2>
  </section>
</div>